.topbar {
    display: flex;
    height: 6vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: flex-end;
}

.clock {
    align-self: center;
    font-size: 1.7rem;
    color: #fff;
    padding: 0 2rem;
}

.currentNetwork {
    display: flex;
    align-self: center;
    font-size: 1.5rem;
    color: #fff;
    padding: 0rem;
}

.currentNetwork svg {
    align-self: center;
    max-height: 1.5rem;
    margin: 0;
}