nav {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 17.5vh;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

a, button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    width: 100%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color .2s;
}

a:hover, button:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

button {
    color: #fff;
    border: none;
}

svg {
    height: 2em;
    width: 2em;
    margin-bottom: 0.2em;
}