/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

 body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: black;
  background-image: url('../../public/wallpapers/4.png');
  background-size: cover;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;
  height: 100vh;
}
