/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

* {
  margin: 0;
  padding: 0;
}

 body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: black;
  background-image: url('../../public/background.png');
  background-size: cover;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player {
  width: 100vw;
}

main {
  width: 100vw;
  height: 100vh;
}
